body {
  font-family: var(--vscode-font-family);
  color: var(--vscode-editor-foreground);
  display: grid;
  justify-content: center;
  align-items: center;
}

textarea {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  overflow: scroll;
}

input {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

input:focus {
  border-color: var(--vscode-editor-foreground);
}

button {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

button:hover {
  background-color: var(--vscode-editor-foreground);
  color: var(--vscode-editor-background);
}

a {
  text-decoration: underline;
}

.cancel {
  color: #ff0000;
}

.cancel:hover {
  color: (--vscode-editor-background);
  background-color: #a30000;
}

.button-row {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkbox {
  background-color: blue;
  color: var(--vscode-editor-foreground);
}
